    
    
  body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient (#78eea9, #1bc296);  
  }

  .search-box{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #0a1b2d;
      height: 40px;
      padding: 10px;
      border-radius: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .search-txt{
      border: none;
      background: none;
      outline: none;
      padding: 0;
      color: #f0f5fb;
      font-size: 16px;
      line-height: 40px;
      width: 0;
      transition: .5s;
  }

  
  .search-btn{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #0a1b2d;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .5s;

  }

  .search-box:hover >.search-txt{
      width: 240px;
      padding: 0 6px;
      
  }

  .search-box:hover > .search-btn{
      background: #f0f5fb;
  }

  .bt {
    display:inline-block;
    padding: 40px;
    margin: auto;
    background-color:#2a8d26;
    border: 3px solid rgb(27, 21, 21) ;
    width: 350px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 5px;
    color: #0a1b2d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 35%;
    margin-right: -35%;
    top: 70%;
  }

  .topo{
    width: 500px;
    height: 300px;
    position: relative;
    margin-left: 43%;
    margin-right: auto;
  }

  .picture{
    width: 300px;
    height: 150px;
  }

  body{
    background-color: #264f52;
  }